nav {
    height: fit-content;
    width: 65vw;
    text-align: center;
}

.tabcontent {
    border-top: none;
    padding: 5px;
}

.tabcontent p {
    font-size: 0.9em;
}

.tablinks {
    background-color: inherit;
    cursor: copy;
    font-size: 15px;
    border: none;
    font-family: 'Alike';
}

#essays {
    height: 500px;
    overflow-y: scroll;
}

button {
    color: var(--link-color);
}