#first, #third {
    display: flexbox;
    padding: 0;
    border: 1px solid red;
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
    gap: 2em;
    width: 90%;
    max-width: 70vw;
}

.columns>div {
    text-align: justify;
    margin: 0;
    width: 100%;
    min-width: 0;
}

section {
    padding: 0px;
    min-height: 100px;
}

.manifesto, .currentreads {
    grid-column: 1;
    grid-row: 1;
}

#first>section {
    margin: 1em 0;
}

.alltimes {
    grid-column: 2;
    grid-row: 1;
}

#first>.left>section {
    min-height: 24vh;
    max-height: 24vh;
}

#first>.right>section {
    min-height: 50vh;
    max-height: 50vh;
}

#third>.left>section, #third>.right>section {
    min-height: 50vh;
    max-height: 50vh;
}