#first,
#third {
    display: flexbox;
    padding: 0;
    margin: 0 auto;
}

#second {
    padding: 0;
    margin: 0 auto;
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
    gap: 2em;
    width: 90%;
    max-width: 70vw;
}

section>* {
    text-align: justify;
    min-width: 95%;
    max-width: 95%;
}

section {
    padding: 0 0.5em 1em 0.5em;
    margin: 1em 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#first>section {
    min-height: 35vh;
    max-height: 35vh;
}

#second>section {
    min-height: 40vh;
    max-height: 40vh;
}

#third>section {
    min-height: 50vh;
    max-height: 50vh;
}

.feature {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 1em;
}

@media only screen and (max-width: 480px) {
    /* Small Mobile */

    body {
        width: 100vw;
    }

    #full {
        height: 40vh;
        min-width: 100vw;
    }

    article {
        width: 150vw !important;
        margin-left: 2em;
    }

    #prologue>#right {
        display: none;
    }

    #letter>#left>.columns {
        display: block;
    }

    #letter>#right {
        display: none;
    }

    #gallery {
        display: block;
    }

    #gallery>section {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5em;
    }
}

@media only screen and (max-width: 768px) {
    /* Tablets */

    article {
        min-width: 90vw;
    }

    #prologue>#right {
        display: none;
    }

    #letter>#left>.columns {
        display: block;
    }

    #letter>#right {
        display: none;
    }

    #gallery {
        display: block;
    }

    #gallery>section {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5em;
    }

}

@media only screen and (max-width: 1024px) {
    /* Laptops */

    article {
        min-width: 90vw;
    }

}

@media only screen and (max-width: 1440px) {
    /* Large desktops */

    article {
        min-width: 70vw;
    }

}

@media only screen and (max-width: 2560px) {
    /* Large Monitors */

    article {
        max-width: 70vw;
    }

}