.leftsec {
    display: inline-block;
    width: 45vw;
    border: transparent;
    box-sizing: border-box;
}

.rightsec {
    width: 225px;
    height: auto;
    display: inline-block;
    padding-bottom: 0;
}

#litsec {
    width: max-content;
    height: auto;
}

#collections section {
    width: 45%;
    height: auto;
    border: none;
    padding: 0 10px;
    margin: 0;
}

#collections ul {
    text-align: left;
    margin: 0 0 0 35px;
    width: fit-content;
}

@media only screen and (max-width: 480px) {
    /* Small Mobile */

    body {
        width: 100vw;
    }

    #full {
        height: 40vh;
        min-width: 100vw;
    }

    article {
        width: 150vw !important;
        margin-left: 2em;
    }

    #prologue>#right {
        display: none;
    }

    #letter>#left>.columns {
        display: block;
    }

    #letter>#right {
        display: none;
    }

    #gallery {
        display: block;
    }

    #gallery>section {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5em;
    }
}

@media only screen and (max-width: 768px) {
    /* Tablets */

    article {
        min-width: 90vw;
    }

    #prologue>#right {
        display: none;
    }

    #letter>#left>.columns {
        display: block;
    }

    #letter>#right {
        display: none;
    }

    #gallery {
        display: block;
    }

    #gallery>section {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5em;
    }

}

@media only screen and (max-width: 1024px) {
    /* Laptops */

    article {
        min-width: 90vw;
    }

}

@media only screen and (max-width: 1440px) {
    /* Large desktops */

    article {
        min-width: 70vw;
    }

}

@media only screen and (max-width: 2560px) {
    /* Large Monitors */

    article {
        max-width: 70vw;
    }

}