:root {
    --full-background: #F5F5DC;
    --article-color: #FEFEFA;
    --border-color: #48383A;
    --shadow-color: #dcdcdc;
    --divider-image: url("/photos/about/divider.jpg");
}

#feature,
#collections {
    display: flex;
    padding: 0;
    background: var(--article-color);
    border: 1px solid var(--full-background);
    box-shadow: 1px 1px 3px var(--shadow-color), -1px 1px 3px var(--shadow-color);
}

#feature>section,
#collections>section {
    background: none;
    box-shadow: none;
}

#feature>#left {
    min-width: 70%;
}

#feature>#right {
    overflow: hidden;
    background: none;
    max-height: min-content;
    min-height: 25%;
    padding: 0;
    margin: 1em;
    box-shadow: 1px 1px 3px var(--shadow-color), -1px 1px 3px var(--shadow-color);
}

#right>img {
    filter: grayscale(0.25);
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

#collections>#left, #collections>#right {
    min-width: 45%;
    max-width: 45%;
    
}

#collections ul {
    text-align: left;
    margin: 0 0 0 35px;
    width: fit-content;
}

@media only screen and (max-width: 480px) {
    /* Small Mobile */

    body {
        width: 100vw;
    }

    #full {
        height: 40vh;
        min-width: 100vw;
    }

    article {
        width: 150vw !important;
        margin-left: 2em;
    }

    #prologue>#right {
        display: none;
    }

    #letter>#left>.columns {
        display: block;
    }

    #letter>#right {
        display: none;
    }

    #gallery {
        display: block;
    }

    #gallery>section {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5em;
    }
}

@media only screen and (max-width: 768px) {
    /* Tablets */

    article {
        min-width: 90vw;
    }

    #prologue>#right {
        display: none;
    }

    #letter>#left>.columns {
        display: block;
    }

    #letter>#right {
        display: none;
    }

    #gallery {
        display: block;
    }

    #gallery>section {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5em;
    }

}

@media only screen and (max-width: 1024px) {
    /* Laptops */

    article {
        min-width: 90vw;
    }

}

@media only screen and (max-width: 1440px) {
    /* Large desktops */

    article {
        min-width: 70vw;
    }

}

@media only screen and (max-width: 2560px) {
    /* Large Monitors */

    article {
        max-width: 70vw;
    }

}