@media only screen and (max-width: 1300px) {

    #botmdesc,
    #botmcover {
        width: 65vw;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    #wishlist section {
        width: 60vw;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 800px) {
    article {
        width: 90vw;
    }

    article section {
        align-items: center;
        margin-bottom: 10px;
    }

    #sect {
        width: calc(90vw + 40px);
    }

    #leftsect {
        width: calc(90vw + 40px);
    }

    #rightsect {
        width: calc(90vw);
        margin-bottom: 50px;
    }

    #botmdesc,
    #botmcover {
        width: 43vw;
    }

    #wishlist section {
        width: 90vw;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {
    article {
        width: 90vw;
        padding: 30px;
        border-radius: 0;
    }

    #sidebar {
        width: 80vw;
        left: -80vw;
    }

    #rightsect {
        height: calc(100%);
    }

    #botmdesc,
    #botmcover {
        width: 90vw;
    }

    #bookshelf section {
        width: 45vw;
    }
}

@media only screen and (max-width: 400px) {
    #mobile-header .subtitle {
        display: none;
    }
}