/* single.css */

/* Single Page Styles */
#single-post-main {
    text-align: center;
    margin: 0 auto 0 270px;
    overflow: scroll;
    width: 800px;
    color: #48383A;
}

.single-post-container {
    background-color: #FBFAFF;
    padding: 20px 20px 10px 20px;
    margin: 10px 0 10px 0;
    width: calc(100% - 20px);
    min-height: max-content;
    height: fit-content;
}

#post-thumbnail {
    height: 100px;
    width: calc(100% + 40px);
    overflow: hidden;
    padding: 0;
    margin: -20px -20px -10px -20px;
    border-bottom: 1px dotted #48383A;
}

#post-thumbnail img {
    width: 100%;
    object-fit: cover;

}

.post-title {
    text-align: left;
    font-size: 35px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: -10px;
    border: none;
    color: #FBFAFF;
    text-transform: none;
}

.single-post-container hr {
    border: 1px dotted #48383A80;
    width: calc(100% + 40px);
    margin-left: -20px;
}

.post-date {
    padding-left: 5px;
    text-align: right;
    font-size: 14px;
    text-shadow: none;
    color: #D4D4D6;
    text-transform: none;
}

.post-content {
    font-size: 14px;
    text-align: justify;
    text-indent: 10px;
}

.image-row {
    width: 300px;
    height: 300px;
    text-align: justify;
    padding-left: 10px;
}

.post-image {
    border: 1px dotted #48383A;
    padding: 0;
    margin: 0;
    width: max-content;
}

.post-meta {
    color: #352726;
    text-align: right;
    font-style: italic;
    font-size: 14px;
}

.post-meta a {
    color: #48383A;
}

.post-meta a:hover {
    color: #F5BCB3;
    transition: color 0.3s ease-in-out;
}

a.fade-in {
    color: #F5BCB3;
}