:root {
    --full-background: #F5F5DC;
    --article-color: #FEFEFA;
    --border-color: #48383A;
    --shadow-color: #dcdcdc;
    --divider-image: url("/photos/about/divider.jpg");
}

#list {
    display: flex;
    padding: 0;
}

#list>section {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0.5em auto;
}

#list>section> ul li {
    display: list-item;
    list-style-type: none !important;
}

/* 

    RESPONSIVENESS

*/

@media only screen and (max-width: 480px) {
    /* Small Mobile */

    body {
        width: 100vw;
    }

    #full {
        height: 40vh;
        min-width: 100vw;
    }

    article {
        width: 150vw !important;
        margin-left: 2em;
    }

    #prologue>#right {
        display: none;
    }

    #letter>#left>.columns {
        display: block;
    }

    #letter>#right {
        display: none;
    }

    #gallery {
        display: block;
    }

    #gallery>section {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5em;
    }
}

@media only screen and (max-width: 768px) {
    /* Tablets */

    article {
        min-width: 90vw;
    }

    #prologue>#right {
        display: none;
    }

    #letter>#left>.columns {
        display: block;
    }

    #letter>#right {
        display: none;
    }

    #gallery {
        display: block;
    }

    #gallery>section {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5em;
    }

}

@media only screen and (max-width: 1024px) {
    /* Laptops */

    article {
        min-width: 90vw;
    }

}

@media only screen and (max-width: 1440px) {
    /* Large desktops */

    article {
        min-width: 70vw;
    }

}

@media only screen and (max-width: 2560px) {
    /* Large Monitors */

    article {
        max-width: 70vw;
    }

}